@page "/Aboutus"
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Varela+Round&display=swap" rel="stylesheet">
</head>
<div>
    <img src="/css/about-us-banner.png" class="img-fluid w-100" style=" box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
    <br /><br />
    <div class="container shadow-none" style="border-radius: 0px, 0px, 0px, 0px;">
        <h1 style="font-family: 'Varela Round', sans-serif;">About Our Application</h1>
        <h5 style="font-family: 'Varela Round', sans-serif; justify-content:space-between">
            Online Attendance System is the web application for the support of students and respected faculty members. This application also supports the whole departments of the institution.
            Easy way to store all the attendance records thank you.
        </h5>
        <br />
        <hr />
        <br />

        <div class="containe shadow-none" style="border-radius: 0px, 0px, 0px, 0px;">
            <div class="row gap-0">
                <div class="col">

                    <h4 style="font-family: 'Varela Round', sans-serif;">website(Online Portal) Save Time</h4>
                    <h5 style="font-family: 'Varela Round', sans-serif;" class="font-weight-light text-secondary">
                        Online Attendance system can save our time from handwritten works.
                        As we know class time is limited for the students and teachers and most of the time wasted just
                        because of the handwritten work so, our application helps to save that time.
                    </h5>

                </div>

                <div class="col">

                    <h4 style="font-family: 'Varela Round', sans-serif;">Safe Record</h4>
                    <h5 style="font-family: 'Varela Round', sans-serif;" class="font-weight-light text-secondary">
                        As we know in past registers used for attendance maybe damage because of some reason due
                        to which all the information about attendance losed so, our application helps to safe the record
                        so, we can check it and update it.
                    </h5>
                </div>

            </div>
        </div>
        <br />
        <div class="container shadow-none" style="border-radius: 0px, 0px, 0px, 0px;">
            <div class="row gap-0">
                <div class="col">

                    <h4 style="font-family: 'Varela Round', sans-serif;">
                        <div class="rating">
                            Feedback
                            <span class="fa fa-star checked text-primary"></span>
                            <span class="fa fa-star checked text-primary"></span>
                            <span class="fa fa-star checked text-primary"></span>
                            <span class="fa fa-star text-primary"></span>
                            <span class="fa fa-star text-secondary"></span>
                        </div>
                    </h4>
                    <h5 style="font-family: 'Varela Round', sans-serif;" class="font-weight-light text-secondary">
                        If any problem you faced or any type of modification you can suggest us.
                        Gives us the feedback of our application so, we try to check if something needs to update or not.
                    </h5>

                </div>

                <div class="col">

                    <h4 style="font-family: 'Varela Round', sans-serif;">Help and Report</h4>
                    <h5 style="font-family: 'Varela Round', sans-serif;" class="font-weight-light text-secondary">
                        If Faculty Members or Students find any kind of problem or some other issue
                        they can get help registering their issue or contact us which helps us to take action and
                        to start the investigation and resolve the issues.
                    </h5>
                </div>

            </div>

            <hr />
            <br />
        </div>

    </div>
    <div class="section bg-primary">
        <div class="container shadow-none">
            <div>
                <div class=" auto-height">
                    <div style="height: 350px;">
                        <div style="height: 220px;">
                            <div class="row medium-padding120">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="heading">
                                        <br />
                                        <h4 class="h1 heading-title text-white">Your Success Is Our Success</h4>
                                        <p class="text-white">
                                            Online Attendance System provides the best services to their users.
                                            We measure our success only if our users are satisfied with our work.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div><img class="w-100" src="/css/PngItem_4271424.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /> <br />
    <br />
    <br />
</div>
