@page "/Contactus"
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Varela+Round&display=swap" rel="stylesheet">
</head>
<img src="/css/contact-us-banner.jpg" class="img-fluid w-100 border-top border-info" style=" box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
<br />
<br />
<br />
<div class="container shadow-none">
    <h1 style="font-family: 'Varela Round', sans-serif;">Get in Touch</h1>
    <h5 style="font-family: 'Varela Round', sans-serif; color: rgb(80, 79, 79); justify-content:space-between">
        Online Attendance System is to support the Students as well as Faculty members. Further if you have any question or any type of help related to our system, our team is always available for you.
        You can also message us in the message box section, just you have to filled out the detail Thank you.
    </h5>
    <br />
    <hr />
    <br />
</div>
<div class="section bg-white shadow-none">
    <div class="container shadow-none">
        <div>
            <div class=" auto-height">
                <div style="height: 350px;">
                    <div style="height: 220px;">
                        <div class="row medium-padding120">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="heading">
                                    <br />
                                    <h4 class="h1 heading-title text-primary">Phone#</h4>
                                    <p class="text-secondary">
                                        Our Customer Services team available from 9:00 AM - 11:00 PM
                                        Call us if you have any kind emergency related to our work
                                    </p>
                                    <h5 class="text-secondary">03044355551</h5>
                                    <h5 class="text-secondary">03337101081</h5>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div><img style="margin-bottom: 10px" class="w-100" src="/css/customer-care.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section bg-white shadow-none">
    <div class="container shadow-none">
        <div>
            <div class=" auto-height">
                <div style="height: 350px;">
                    <div style="height: 220px;">
                        <div class="row medium-padding120">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="heading">
                                    <br />
                                    <h4 class="h1 heading-title text-success">Address</h4>
                                    <a href="https://goo.gl/maps/ohxpmq2kw6LUzwhQ9"><h5>USKT, Punjab, Sialkot, 51310</h5></a>
                                    <p class="text-secondary">
                                        USKT (University of Sialkot) is located at Sialkot, Punjab, Daska Road near Rescue Office.
                                        For more information just click on the link given above to locate us.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div><img class="w-100" src="/css/map.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-white shadow-none">
    <div class="container shadow-none">
        <div>
            <div class=" auto-height">
                <div style="height: 350px;">
                    <div style="height: 220px;">
                        <div class="row medium-padding120">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="heading">
                                    <br />
                                    <h4 class="h1 heading-title text-danger">Online Support</h4>
                                    <a href="19101001-052@uskt.edu.pk"><h5>info@servisaconsultant.com</h5></a>
                                    <p class="text-secondary">Online Attendance System provides services to our Respected teachers and Students. We measure our success only if our Application users are satisfied with our work. For online support click on the link given above. </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div><img class="w-100" src="/css/mail.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container w-50 min-w-50 shadow-none">
    <div class="row">

        <div class="col order-1">
            <form class="form border-success p-2 border-opacity-10" style="width: auto;">
                <h1 class="heading1 text-center text-primary">Contact</h1>
                <br />
                <div class="mb-3">
                    <label class="form-label">Fullname:</label>
                    <input class="form-control border-primary" type="text" placeholder="fullname">
                </div>

                <div class="mb-3">
                    <label class="form-label">Email <i style="font-size:13px" class="fa text-secondary">&#xf0e0;</i> :</label>
                    <input class="form-control border-primary" type="text" placeholder="email@example.com">
                </div>


                <div class="mb-3">
                    <label class="form-label">Address:</label>
                    <input class="form-control border-primary" type="text" placeholder="City/Street/House...">
                </div>
                <div class="mb-3">
                    <label class="form-label">Phone#:</label>
                    <input class="form-control border-primary" type="text" placeholder="eg.+9230*******1">
                </div>
                <label class="form-label">Message:</label>
                <textarea class="form-control border-primary" id="w3review" name="w3review" rows="4" cols="50" placeholder="Message..."></textarea>
                <br />


                <div></div>
                <div class="butn text-center"><button class="btn btn-primary text-center rounded-pill btn-lg">Submit</button></div>

                <br />
            </form>
        </div>
    </div>
</div>